fieldset {
    width :60%;
}


input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 25%;
}

form{
    margin-top: 10%;
    margin-left: 30%;
}

label{
    margin-left : 5%;
    padding-top: 5%;
}

button {
    width :12%;
    height: 30px;
    margin-left :40%;
    margin-top :5%;
    border :none ;
    border-radius: 3px;
}

legend{
    text-align :center;
    font-weight: bold;
}